/*
 * @author Jie
 */

*{
	font-family: verdana;
    font-size: 12px;
}
body{
	text-align:center;
}
.gmap3{
	margin: 20px auto;
	border: 1px dashed #C0C0C0;
	width: 1000px;
	height: 500px;
}
.ui-menu .ui-menu-item{
	text-align: left;  
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-hover{
	border: 1px solid red; 
	background: #FFBFBF; 
	color: black;
	font-weight:bold;
}